@model IEnumerable<MyBlog.Models.Blog>
@{
    ViewData["Title"] = "Home Page";
}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
 <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var item in Model)
        {
         <div class="post-preview">
          <a asp-action="Post" asp-route-id="@item.Id">
            <h2 class="post-title">
             @item.Title
            </h2>
            <h3 class="post-subtitle">
              @item.Subtitle
            </h3>
          </a>
          <p class="post-meta">Posted by
            @item.Author.Name 
            @item.CreateTime 'da yayınlandı</p>
        </div>
        <hr>
        }

        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
    </div>